<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Github Issues</h5>
                <p class="grey-text text-lighten-4">This is the third assignment for serverbased programming</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linneuniversitetet</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Webbprogrammering</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Serverbaserad programmering</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Niklas Nilsson
            </div>
          </div>
        </footer>